*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    font-family: cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
form{
    width: 100px;
    margin-top: 5px;
    padding: 2px;
    
}